<footer>
  <div class="footer-container">
    <p>Created by Wolfgang Vinatzer</p>
    <p>Contact me:</p>
    <a href="mailto: dev.vinatzer@gmail.com">dev.vinatzer@gmail.com</a>
    <div class="logo-links">
      <a href="https://github.com/GitOnMyLvl"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/wolfgang-vinatzer-7b9557232"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
  

</footer>
<script src="/scripts/toggleSidebar.js"></script>