<header>
  <div class="header-div">
    <div class="header-left">
      <p>Hero</p>
    </div>
    <div class="header-right">
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/categories">Categories</a>
          <a href="">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>