<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Hero Vault'}) %>
<body>
  <%- include('partials/header') %>
  <main class="main">
    <section>
      <h2>No cape required, but greatness guaranteed</h2>
      <a href="/categories" class="btn-link">Discover here</a>
    </section>
  </main>
  <%- include('partials/footer') %>
</body>
</html>