<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Hero Vault'}) %>

<body>
  <%- include('partials/header') %>
  <main class="main">
    <div>
      <form action="/categories/<%= categoryId %>/newHero" method="post">
        <label for="name">Hero Name:</label>
        <input type="text" name="name" id="name" required>
        <label for="real_name">Real Name:</label>
        <input type="text" name="real_name" id="real_name">
        <label for="alignment">Alignment:</label>
        <select name="alignment" id="alignment">
          <option value="good">Good</option>
          <option value="neutral">Neutral</option>
          <option value="evil">Evil</option> 
        </select>
        <label for="powers">Powers (comma separated):</label>
        <input type="text" name="powers" id="powers">
        <label for="weaknesses">Weaknesses (comma separated):</label>
        <input type="text" name="weaknesses" id="weaknesses">
        <label for="character_traits">Character traits (comma separated):</label>
        <input type="text" name="character_traits" id="character_traits">
        <label for="first_appearance">First Appearance:</label>
        <input type="text" name="first_appearance" id="first_appearance">
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
  
  <%- include('partials/footer') %>
  
</body>

</html>