:root{
  --primary-color: #1e1e1e;
  --secondary-color: #f5f5f5;
  --accent-color: #f6851e;
  --second-accent-color: #A1B3F2;
  --focus-color: #d2d2d2;
}

*, *::before, *::after{
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

a{
  text-decoration: none;
  color: var(--secondary-color);
}

a:visited{
  color: var(--secondary-color);
}

.header-sidebar-container{
  position: relative;
}

.header{
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  position: relative;
  z-index: 1;
}

.header-div{
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header-left{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.hero-vault-logo{
  width: auto;
  max-height: 3rem;
}

.header-heading{
  font-size: 2rem;
}

.header-links{
  display: none;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap;
}

.header-link{
  font-size: 1.5rem;
}

.header-link:hover{
  opacity: 70%;
}

.header-link:visited{
  color: var(--secondary-color);
}

.sidebar{
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: width 0.3s ease;
  overflow: hidden;
  flex-direction: column;
  z-index: 1000;
}

.sidebar.open {
  width: 15.6rem;
}

.sidebar-container{
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-links{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.menu-btn{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  font-size: 2rem;
}

.hero-section {
  background-image: url('/images/heroBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: white;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1rem;
  padding: 1rem;
  margin-top: 10vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.main{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  min-height: 100vh;
  font-size: 1.5rem;
}

.main-container{
  padding: 2rem 0;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 2rem;
}

.main-section{
  width: 100%;
}

.edit-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.main-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.main-btn{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: 2px solid var(--secondary-color);
  min-width: 15rem;
  min-height: 2.5rem;
  border-radius: 20px;
  line-height: 2.5rem;
  overflow: hidden;
}

.main-btn a{
  display: inline-block;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 11rem;
}

.back-btn{
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.back-btn:visited{
  color: var(--accent-color);
}

.login-btn{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

.category-form{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 15rem;
  flex-wrap: nowrap;
}

.new-btn{
  color: var(--second-accent-color);
  background-color: var(--primary-color);
  border-color: var(--second-accent-color);
}

.new-btn:visited{
  color: var(--second-accent-color);
}

.icon-btn{
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}

.main-input{
  width: 100%;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 20px;
  min-height: 2.5rem;
  padding: 0 0.5rem;
}

.main-input:focus{
  outline: none;
  border-color: var(--focus-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  -webkit-text-fill-color: var(--secondary-color) !important; 
  box-shadow: 0 0 0px 1000px var(--primary-color) inset !important;
}

.category-btn{
  min-width: 4rem;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 20px;
  min-height: 2.5rem;
  line-height: 2.5rem;
}

.hero-form{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-hero-btns{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
}

.hero-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.hero-info{
  display: flex;
  flex-direction: column;
}

.hero-info-title{
  text-align: center;
}

.hero-info-value::first-letter{
  text-transform: uppercase;
}

.login-container{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  gap: 1rem;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.footer-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.logo-links{
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

@media only screen and (min-width: 576px) {
  .hero-info{
    flex-direction: row;
    min-width: 500px;
    max-width: 800px;
    justify-content: space-between;
    gap:1rem
  }

  .main{
    font-size: 1rem;
  }

  .main-list{
    gap: 1rem;
  }

  .main-container{
    gap: 1rem;
  }

  .menu-btn{
    display: none;
  }

  .sidebar{
    display: none;
  }

  .header-links{
    display: flex;
  }
}

